<style type='text/css'>
.pd-viewnavigationtr {}
.pd-viewnavigationtr ul {
	background-color: rgba(239, 239, 239, 0.8)!important;
	position: relative;
	height:29px;
	overflow-y: hidden;
}
.pd-viewnavigationtr LI {
	height:30px;
	overflow-y: hidden;
}
.pd-viewnavigationtr a:link, .pd-viewnavigationtr a:visited, .pd-viewnavigationtr a:hover {
	color: #333;
	font-family: Calibri;
	font-size: 12pt;
	padding: 5px 5px 10px !important;
}
.pd-viewnavigationtr LI:hover,
.pd-viewnavigationtr LI:hover + LI.sep  {
/*	background-color: rgba(255, 0, 0, 0.58) !important;*/
 }
.pd-viewnavigationtr LI.sep:hover {
/*	background-color: transparent !important;*/
}
.pd-viewnavigationtr li:last-child a {
	padding-right:16px!important;
}
.pd-viewnavigationtr li.sep { 
	line-height: 20px;
	width: 15px;
	display:inline-block;
}
.pd-viewnavigationtr li.sep:before {
	color: silver;
	content: "〉";
	font-size: 34px;
	padding-left: 3px;
	position: absolute;
	top: 0;
}
.pd-viewnavigationtr li.sep img { display: none; }
</style>
