/* INVOKE a CUSTOMACTION CLUE */
.ms-cui-topBar2 {
	background-color: #FFE1E1;
}
/* OVERRIDE SP Core */

#pageTitle {
	margin:auto;
}
/* SET FLUID WIDTH */
#sideNavBox {
	margin-left: 10px;
	margin-right: 10px;
	min-width: 200px;
}
#contentBox {
	margin-top: 10px;
	min-width: 200px;
}
.ms-blog-adminLinks {
	display: none;
}
.ms-blog-MainArea {
	max-width: inherit;
	min-width: 200px;
	width: 98%;
}
.ms-blog-postList {
	min-width: 200px;
	max-width: 100%;
	margin-right: 10px;
}
.ms-blog-quickLinksTitle {
	font-size: 1.8em;
}
#onetIDListForm .ms-formtable TD.ms-formbody {
	width: 95%;
}
#onetIDListForm .ms-formtable TD.ms-formbody input.ms-long[type='text'] {
	width: 99%;
}
#onetIDListForm.ms-core-tableNoSpace {
	width: 90%;
}

/* WEBPARTS */ 
.ms-webpartzone-cell {
	margin: auto auto 10px;
}

/* CUSTOM SITE */
.v-zigzag { /* Vertical */
	background:
	  linear-gradient(45deg, #ec173a 5px, transparent 0) 0 5px,
	  linear-gradient(135deg, #ec173a 5px, #fff 0) 0 5px;
	background-color: #ec173a;
	background-position: right top;
	background-repeat: repeat-y;
	background-size: 10px 10px;
}

/* POSTS */
.news-main-content { margin-top: 10px; }
.ms-blog-postBox {
	padding: 10px 14px 14px 0;
}
.ms-blog-postBoxDate { 
	display: none;
}
/* post date */
.news-post-postdate {
	color: #fff;
	display: table-cell;
	height: 40px;
	opacity: 0.5;
	position: absolute;
	right: 0;
	text-align: center;
	width: 70px;
}
.news-post-postdate span {
	color: #fff;
	display: block;
	margin-left: -5px;
}
.news-post-postdate span.year { 
	font-size: .6em;
	font-weight: bold;
}
.news-post-postdate span.date { 
	font-size: .6em;
	font-weight: bold;
	margin-top: -4px;
}
/**/
.ms-blog-command-noLeftPadding a:visited,
#blgcat {
	color: #008444;
}
.ms-blog-postBoxMargin { 
	position: relative; 
	margin-left: 10px;
}
.ms-blog-postBoxMargin > h2 { display: none; }
.ms-blog-postBoxMargin > h2.news-post-title { 
	display: block;
	font-size: 2.5em;
	margin: 0 70px 10px 58px;
}
.ms-blog-postBoxMargin > h2.news-post-title a:link,
.ms-blog-postBoxMargin > h2.news-post-title a:hover,
.ms-blog-postBoxMargin > h2.news-post-title a:visited {
	color: #EA3692!important;
	font-weight: 800;
}
.news-post-pageimage,
.news-post-pageimage.Right {
	float: right;
}
.news-post-pageimage.Left {
	float: left;
}
.news-post-pageimage img,
.news-post-pageimage.Right img {
	border: 0;
	max-width: 600px;
	width: 100%;
	margin-left: 10px;
}
.news-post-pageimage.Left img {
	margin-left: 0;
	margin-right: 10px;
}
.news-post-pageimage img.default {
	opacity: 0.5;
}
.news-post-pageimage + div[class^='ExternalClass'] p:first-of-type {
	margin-top: 0px;
}
.ms-blog-postBody {
	padding-top: 0;
}

h2.news-post-title .news-post-title-image {
	height: 43px;
	width: 48px;
	left: 0;
	overflow: hidden;
	position: absolute;
}
h2.news-post-title .news-post-title-image img {
	border: 0;
	height: 43px;
	position: absolute;
	left: 0;
	top: 0;
}
h2.news-post-title .news-post-title-image img.default {
/*	opacity: 0.5; */
}
#blgcat {
	text-transform: uppercase;
}
.ms-blog-postList .ms-shadow {
	box-shadow: none;
}
.ms-textXLarge.ms-blog-dateText {
	font-size: 1.8em;
}
.news-post-bodysummary {
	position: relative;
	max-height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 2px;
}
.news-post-bodysummary > div[class^='ExternalClass'],
.news-post-bodysummary > div[class^='ExternalClass'] * { 
	font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif!important; 
	font-size: 13px!important; 
	font-style: italic!important;
	color: #444!important;
	line-height: inherit!important;
}
.news-post-bodysummary > div[class^='ExternalClass'] p:first-of-type {
	margin-top: 0px;
}
.news-post-bodysummary .ellipsis {
	position: absolute;
	bottom: -1px;
	right: 0;
	font-weight: bold;
	color: #EA3692;
	width: 100%;
	overflow: hidden;
	height: 15px;
	background: rgba(255,255,255,0.85);
	text-align: right;
	font-size: 18pt;
}
.news-post-bodysummary .ellipsis a {
	display: block;
	height: 18px;
	line-height: 10px;
	background: white;
	width: 40px;
	right: 0;
	position: absolute;
	text-align: center;
	top: -2px;
}
.news-post-bodysummary .ellipsis a,
.news-post-bodysummary .ellipsis a:link,
.news-post-bodysummary .ellipsis a:visited {
	color: #EA3692!important;
}
.news-post-bodysummary .ellipsis a:hover {
	color: #0072C6!important;
	letter-spacing: 5px;
}

/* MONTH/DATE TAG CLOUD */
.news-post-date-cloud { margin: 0 10px 10px 0px; }
.news-post-date-cloud ul { margin: 0; padding: 0; display: none; }
.news-post-date-cloud li { margin:0; padding: 0; list-style: none; font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; }

.news-post-date-cloud li a,
.news-post-date-cloud li a:link,
.news-post-date-cloud li a:active,
.news-post-date-cloud li a:hover,
.news-post-date-cloud li a:visited
 { 
    font-size: 1em; 
    color: #666666; 
    text-decoration: none; 
    margin-left: 10px; 
    padding:0px 5px;
    transition: background-color 150ms ease-out;
}
.news-post-date-cloud .month,
.news-post-date-cloud .month.reveal { display: block; }
.news-post-date-cloud li.month a:hover
{ background-color: rgba(128,128,128,0.2); }

.news-post-date-cloud li.year { margin: 5px 0 0 0; }
.news-post-date-cloud li.year h2 { font-size: 2em; color: #0072C6; margin: 0; padding:0; }
.news-post-date-cloud li.archive h2 { font-size: 1.3em; color: #0072C6; margin: 0; padding:0; }
.news-post-date-cloud li.year h2[rel='1'] { font-size: 1.6em; }

.news-post-date-cloud li.month a:link[rel='12']
{ font-size: 1.7em; }
.news-post-date-cloud li.month a:link[rel='11']
{ font-size: 1.5em; }
.news-post-date-cloud li.month a:link[rel='10'],
.news-post-date-cloud li.month a:link[rel='9']
{ font-size: 1.4em; }
.news-post-date-cloud li.month a:link[rel='8'],
.news-post-date-cloud li.month a:link[rel='7']
{ font-size: 1.3em; }
.news-post-date-cloud li.month a:link[rel='6'],
.news-post-date-cloud li.month a:link[rel='5']
{ font-size: 1.2em; }
.news-post-date-cloud li.month a:link[rel='4'],
.news-post-date-cloud li.month a:link[rel='3']
{ font-size: 1.1em; }
.news-post-date-cloud li.month a:link,
.news-post-date-cloud li.month a:link[rel='2'],
.news-post-date-cloud li.month a:link[rel='1'],
.news-post-date-cloud li.month a:link[rel='0']
{ font-size: 1em; }
.news-post-date-cloud li.archive a:link,
.news-post-date-cloud li.archive a:visited {
	color: #0072C6;
	font-size: 1.2em; 
	margin-left: 0;
	padding-left: 0;
}


/* CATEGORY TAG CLOUD */
.news-post-category-cloud { margin: 10px 10px 0 0; }
.news-post-category-cloud ul { margin: 0; padding: 0; display: none; }
.news-post-category-cloud li { margin:0; padding: 2px 0; list-style: none; font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; }

.news-post-category-cloud li a,
.news-post-category-cloud li a:link,
.news-post-category-cloud li a:active,
.news-post-category-cloud li a:hover,
.news-post-category-cloud li a:visited
 { 
    font-size: 1.2em; 
    color: #666666; 
    text-decoration: none; 
    margin-left: 10px; 
    padding:0px 5px;
    transition: background-color 150ms ease-out;
}
.news-post-category-cloud .category,
.news-post-category-cloud .category.reveal { display: block; }
.news-post-category-cloud li.category a:hover
{ background-color: rgba(128,128,128,0.2); }

.news-post-category-cloud li.title { margin: 5px 0 0 0; }
.news-post-category-cloud li.title h2 { font-size: 2em; color: #0072C6; margin: 0; padding:0; }


/* POPULAR POSTS */
.news-post-popular { margin: 0 0 30px 0; }
.news-post-popular ul { margin: 0; padding: 0; display: none; }
.news-post-popular li { margin:0; padding: 2px 0; list-style: none; font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; }

.news-post-popular li a,
.news-post-popular li a:link,
.news-post-popular li a:active,
.news-post-popular li a:hover,
.news-post-popular li a:visited
 { 
    font-size: 1.2em; 
    color: #EA3692; 
    text-decoration: none; 
    padding:2px 10px;
    display: inline-block;
    transition: background-color 150ms ease-out;
}
.news-post-popular li.article a:hover
{ background-color: rgba(128,128,128,0.2); }

.news-post-popular li.title { margin: 0; padding: 0; }
.news-post-popular li.title h2 { font-size: 2em; color: #0072C6; margin: 0; padding:0; }

/* RESPONSIVE ICON MENU BAR / BUTTON */
.responsive-nonvisible { display: block; }
.collapse-button-container {
	position: relative;
}
.collapse-button {
	 display: none;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    background-color: #0E0E0E;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button .icon-bar {
    background-color: #F5F5F5;
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

