body, html {
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body,
.ms-backgroundImage {
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmRhZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #d6dade 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6dade));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d6dade 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d6dade 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d6dade 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d6dade 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6dade',GradientType=0 );
}

.news-container {
	max-width: 1440px;
	margin: auto;
	clear: both;
}
.news-container-maxwidth {
	max-width: 1440px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section,summary {
	display: block;
}

/* ==========================================================================
 Media Queries
 ========================================================================== */

/* desktop */
@media screen and (min-width: 980px) {
	.news-post-pageimage img,
	.news-post-pageimage.Right img { max-width: 325px; margin-left: 5px; }
	.news-post-pageimage.Left img { margin-right: 5px; }
	
	.ms-blog-postBoxMargin > h2.news-post-title {}
	.ms-blog-postBoxMargin > h2.news-post-title { font-size: 2.0em; } /* reduce the post title size */
}
@media screen and (min-width: 1280px) {
	.news-post-pageimage img,
	.news-post-pageimage.Right img { max-width: 520px; margin-left: 10px; }
	.news-post-pageimage.Left img { margin-right: 10px; }
}
@media screen and (min-width: 1440px) {
	.news-post-pageimage img,
	.news-post-pageimage.Right img { max-width: 600px; margin-left: 10px; }
	.news-post-pageimage.Left img { margin-right: 10px; }
}

/* phablet (landscape) */
@media screen and (min-width: 769px) and (max-width: 979px) {
	.news-post-pageimage,
	.news-post-pageimage.Right { float: none; clear: both; }
	.news-post-pageimage.Left { float: none; clear: both; }

	.news-post-pageimage img,
	.news-post-pageimage.Right img { max-width: 100%; margin-left: 0; }
	.news-post-pageimage.Left img { margin-right: 0; }

	.news-post-title-image { display: none; } /* hide the post rollup image */
	.ms-blog-postBoxMargin > h2.news-post-title { 
		font-size: 1.4em;  /* reduce the post title size */
		margin: 0 70px 3px 0; 
	}

	/* post tag line */
	.news-post-title + .ms-metadata { margin-right: 70px; }
	/* new-post-date */
	.news-post-postdate { height: 28px; width: 56px; }
	.news-post-postdate span { margin-top: 0; }

	.news-post-bodysummary {}
}

/* phablet (portrait) */
@media screen and (max-width: 768px) {
	.news-post-date-cloud { margin: 0 20px 10px 0px; }
	.news-post-category-cloud { margin: 10px 20px 0 0px; }
	.news-post-title-image { display: none; } /* hide the post rollup image */

	.news-post-pageimage,
	.news-post-pageimage.Right { float: none; clear: both; }
	.news-post-pageimage.Left { float: none; clear: both; }

	.news-post-pageimage img,
	.news-post-pageimage.Right img { max-width: 100%; margin-left: 0; }
	.news-post-pageimage.Left img { margin-right: 0; }

	.news-post-bodysummary { margin-top: 0; }

	/* post tag line */
	.news-post-title + .ms-metadata { margin-right: 70px; }
	/* new-post-date */
	.news-post-postdate { height: 32px; width: 56px; }
	.news-post-postdate span { margin-top: 0; }

/* start: stacked display */
	.ms-blog-postBoxMargin > h2.news-post-title { 
		font-size: 1.8em; 
		margin: 0 70px 3px 0;
	}

/* start: responsive cloud menus */
	.news-post-category-cloud .category,
	.news-post-date-cloud .month { display: none; }
	.news-post-category-cloud .category.reveal,
	.news-post-date-cloud .month.reveal { display: block; }
	
	.collapse-button-container { 
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmRhZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); 
		padding-left: 5px!important; /* this is shorter, but i'm still ashamed of myself! */
		height: 48px;
		line-height: 48px;
	}
	.collapse-button-container h2 { height: 48px; line-height: 48px; }
	.collapse-button-container .collapse-button { display: block; }
/* end: responsive cloud menus */

	#contentBox { margin-left: 10px; margin-right: 0; }
	#sideNavBox { float:none; clear:both; width: 100%; margin-right: 0; }

	/* O365 Overrides */
	.ms-webpartzone-cell { margin: auto auto 0; }
	/* Post.aspx */
	.ms-blog-MainArea .ms-blog-LeftColumn { width: 0; }
	.ms-blog-MainArea .ms-blog-LeftColumn .ms-webpart-zone { position: absolute; left: 0; bottom: -150px; margin-left: 10px; }
	.ms-blog-MainArea .ms-blog-postBox { padding-right: 2px; margin-right: 10px; }
	.ms-blog-MainArea .ms-blog-postList { margin-right: 0; }
	.ms-blog-MainArea { width: 100%; position: relative; }
/* end: responsive stacked display */
}

@media screen and (min-width: 481px) and (max-width: 767px) {

}

/* smartphone */
@media screen and (max-width: 480px) {
	.news-post-title-image { display: none; } /* hide news rollup image */

	.news-post-pageimage,
	.news-post-pageimage.Right,
	.news-post-pageimage.Left { display: none; }

	/* new-post-date */
	.news-post-postdate { height: 22px; width: 52px; }
	.news-post-postdate span { margin-top: 1px; }

/* start: stacked display */
	.news-main-content .ms-blog-postBody { max-height: 55px; }
	.ms-blog-postBoxMargin > h2.news-post-title { 
		font-size: 1.4em; 
	}
}

@media screen and (max-width: 360px) {
	.ms-blog-postBoxMargin > h2.news-post-title { 
		font-size: 1.2em; 
	}
}