/* INVOKE a CUSTOMACTION CLUE */
.ms-cui-topBar2 {
	background-color: #FFE1E1;
}
/* OVERRIDE SP Core */

#pageTitle {
	margin:auto;
}
.news-post-container #pageTitle {
    background-color: #eaebee;
    margin-bottom: 5px;
    margin-right: 20px;
    text-align: center;
}
/* SET FLUID WIDTH */
#sideNavBox {
	margin-left: 10px;
	margin-right: 10px;
	min-width: 200px;
}
#contentBox {
	margin-top: 10px;
	min-width: 200px;
}
.ms-blog-adminLinks {
	display: none;
}
.ms-blog-MainArea {
	max-width: inherit;
	min-width: 200px;
	width: 98%;
}
.ms-blog-postList {
	min-width: 200px;
	max-width: 100%;
	margin-right: 10px;
}
.ms-blog-quickLinksTitle {
	font-size: 1.8em;
}
#onetIDListForm .ms-formtable TD.ms-formbody {
	width: 95%;
}
#onetIDListForm .ms-formtable TD.ms-formbody input.ms-long[type='text'] {
	width: 99%;
}
#onetIDListForm.ms-core-tableNoSpace {
	width: 90%;
}

/* WEBPARTS */ 
.ms-webpartzone-cell {
	margin: auto auto 10px;
}

/* CUSTOM SITE */

/* NEW ARTICLE BUTTON */
.news-newarticle-container {
     margin: 10px 5px 0 0;
}
.buzz365-responsive-v1 .news-newarticle-container {
    margin: 5px 5px 0 0;
}
.add-a-new-post .ms-textXLarge {
    font-size: 1.26em;
}
.news-newarticle-container > span {
    background-color: #415A6C;
    display: inline-block;
    padding: 5px 15px 3px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s;
}
.news-newarticle-container > span:hover {
    transition: all 0.5s;
    opacity: 0.8;
}
.news-newarticle-container .fa-stack {
    width: 1.5em;
    height: 1.5em;
    margin-right: 5px;
}
.news-newarticle-container a:link, .news-newarticle-container a:visited, .news-newarticle-container a:hover, .news-newarticle-container a:active {
    text-decoration: none;
    color: #fff;
    height: 1.5em;
    line-height: 1.5em;
}
.news-newarticle-container .fa-circle-o {
    font-size: 1.5em;
    top: -2px;
}
.news-newarticle-container .fa-plus {
    font-size: 0.85em;
    top: -6px;
}
/**/

/* LOADING */
 .news-loading-container {
    opacity: 0.25;
}
/**/

/* NAVIGATION */
.navigation {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
}
.navigation ul {
    margin: 0 auto;
    padding: 0;
}
.navigation li,
.navigation li.next,
.navigation li.previous { 
    margin: 0;
    padding: 6px 10px 5px 10px;
    background-color: #415A6C;
    list-style-none; 
    display: inline-block; 
}
.navigation li.previous {
    margin-right: 1px;
    padding: 6px 10px 5px 10px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.navigation li.next {
    margin-left: 1px;
    padding: 6px 10px 5px 10px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.navigation li {
    background-color: #D5D8DE;
    transition: all 0.3s;
}
.navigation li a:link, 
.navigation li a:visited, 
.navigation li.next a:hover, 
.navigation li.previous a:hover, 
.navigation li a:link { 
    color: #fff;
    text-decoration: none;
}
.navigation li a,
.navigation li a:hover { 
    font-size: 0.9em;
    color: #415A6C;
    text-decoration: none;
}
.navigation li.next:hover, 
.navigation li.previous:hover {
    transition: all 0.3s;
    opacity: 0.8;
}
/**/

/* POSTS */
.news-main-content { margin-top: 10px; }
.ms-blog-postBox {
	padding: 10px 14px 14px 0;
	background-color: #fff;
	border: none;
}
.ms-blog-postBoxDate,
.ms-blog-postBoxMargin .ms-blog-postBody,
.ms-blog-postBoxMargin > .ms-metadata.ms-textSmall,
.ms-blog-postBoxMargin .ms-metadata.ms-textSmall + p { 
	display: none;
}

.ms-blog-postBoxMargin { 
	position: relative; 
	margin-left: 10px;
}
.ms-blog-postBoxMargin span[id^='commandBar0'] { display: none; }
.ms-blog-postBoxMargin > h2 { display: none; }
.ms-blog-postList .ms-shadow { box-shadow: none; }
/**/

/* SOCIAL BUTTONS */
.social, .social2 {
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
    background-color: #fff;
}
.social > span,
.social2 > span {
    color: #fff;
    background-color: #415A6C;
    display: inline-block;
    padding: 5px 4px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s;
}
.social2 > span {
    color: #415A6C;
    background-color: #fff;
    border-right: 1px solid #DDE0E4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.social2 > span:last-of-type {
    border-right: none;
}
.social > span:hover {
    opacity: 0.8;
    transition: all 0.5s;
}
.social > span.passive:hover {
    opacity: 1;
}
.social2 a:link, .social2 a:hover, .social2 a:visited, .social2 a:active {
    text-decoration: none;
    color: #415A6C;
}
.social a:link, .social a:hover, .social a:visited, .social a:active {
    text-decoration: none;
    font-size: 0.9em;
    color: #fff;
}
.social .passive a:hover {
    cursor: default;
}
.social2 .comments a:hover,
.social2 .edit a:hover,
.social2 .share a:hover,
.social2 .ratings a:hover,
.social2 .tags a:hover,
.social .comments a:hover,
.social .edit a:hover,
.social .share a:hover,
.social .ratings a:hover,
.social .tags a:hover {
    color: #FFCB00;
    transition: all 0.25s;
}
.social .tags a:after {
    content: ",";
    padding-right:5px;
}
.social .tags a:last-of-type:after {
    content: "";
    padding-right:0;
}
/**/

/* MONTH/DATE TAG CLOUD */
.news-post-date-cloud { margin: 0 10px 10px 0px; }
.news-post-date-cloud ul { margin: 0; padding: 0; display: none; }
.news-post-date-cloud li { margin:0; padding: 0; list-style: none; font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; }

.news-post-date-cloud li a,
.news-post-date-cloud li a:link,
.news-post-date-cloud li a:active,
.news-post-date-cloud li a:hover,
.news-post-date-cloud li a:visited
 { 
    font-size: 1em; 
    color: #EA3692; 
    text-decoration: none; 
    margin-left: 0; 
    padding:0px 5px;
    transition: background-color 250ms ease-out;
}
.news-post-date-cloud .month,
.news-post-date-cloud .month.reveal { display: block; }
.news-post-date-cloud li.month a:hover
{ background-color: rgba(128,128,128,0.2); }

.news-post-date-cloud li.archive,
.news-post-date-cloud li.year { margin: 5px 0 0 0; background-color: #fff; }
.news-post-date-cloud li.year h2 { font-size: 2em; color: #415A6C; margin: 0; padding:0; }
.news-post-date-cloud li.archive h2 { font-size: 1.3em; color: #415A6C; margin: 0; padding:0; }
.news-post-date-cloud li.year h2[rel='1'] { font-size: 1.6em; }

.news-post-date-cloud li.month a:link[rel='12']
{ font-size: 1.7em; }
.news-post-date-cloud li.month a:link[rel='11']
{ font-size: 1.5em; }
.news-post-date-cloud li.month a:link[rel='10'],
.news-post-date-cloud li.month a:link[rel='9']
{ font-size: 1.4em; }
.news-post-date-cloud li.month a:link[rel='8'],
.news-post-date-cloud li.month a:link[rel='7']
{ font-size: 1.3em; }
.news-post-date-cloud li.month a:link[rel='6'],
.news-post-date-cloud li.month a:link[rel='5']
{ font-size: 1.2em; }
.news-post-date-cloud li.month a:link[rel='4'],
.news-post-date-cloud li.month a:link[rel='3']
{ font-size: 1.1em; }
.news-post-date-cloud li.month a:link,
.news-post-date-cloud li.month a:link[rel='2'],
.news-post-date-cloud li.month a:link[rel='1'],
.news-post-date-cloud li.month a:link[rel='0']
{ font-size: 1em; }
.news-post-date-cloud li.archive a:link,
.news-post-date-cloud li.archive a:visited {
	color: #415A6C;
	font-size: 1.2em; 
	margin-left: 0;
	padding-left: 0;
}


/* CATEGORY TAG CLOUD */
.news-post-category-cloud { margin: 0 10px 0 0; }
.news-post-category-cloud ul { margin: 0; padding: 0; display: none; }
.news-post-category-cloud li { margin:0; padding: 2px 0; list-style: none; font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; }

.news-post-category-cloud li a,
.news-post-category-cloud li a:link,
.news-post-category-cloud li a:active,
.news-post-category-cloud li a:hover,
.news-post-category-cloud li a:visited
 { 
    font-size: 1.2em; 
    color: #EA3692; 
    text-decoration: none; 
    margin-left: 0; 
    padding:0px 5px;
    transition: background-color 250ms ease-out;
}
.news-post-category-cloud .category,
.news-post-category-cloud .category.reveal { display: block; }
.news-post-category-cloud li.category a:hover
{ background-color: rgba(128,128,128,0.2); }

.news-post-category-cloud li.title { margin: 5px 0 0 0; }
.news-post-category-cloud li.title h2 { font-size: 2em; color: #415A6C; margin: 0; padding:0; }


/* POPULAR POSTS */
.news-post-popular { margin: 0 0 30px 0; }
.news-post-popular ul { margin: 0; padding: 0; display: none; }
.news-post-popular li { margin:0; padding: 2px 0; list-style: none; font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; }

.news-post-popular li a,
.news-post-popular li a:link,
.news-post-popular li a:active,
.news-post-popular li a:hover,
.news-post-popular li a:visited
 { 
    font-size: 1.2em; 
    color: #EA3692; 
    text-decoration: none; 
    padding:2px 5px;
    display: inline-block;
    transition: background-color 250ms ease-out;
}
.news-post-popular li.article a:hover
{ background-color: rgba(128,128,128,0.2); }

.news-post-popular li.title { margin: 0; padding: 0; }
.news-post-popular li.title h2 { font-size: 2em; color: #415A6C; margin: 0; padding:0; }

/* RESPONSIVE ICON MENU BAR / BUTTON */
.responsive-nonvisible { display: block; }
.collapse-button-container {
	position: relative;
}
.collapse-button {
	 display: none;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    background-color: #0E0E0E;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button .icon-bar {
    background-color: #F5F5F5;
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

/* NEW NEWS STYLING */
.news-post-container {}
/* FIX AN IE10 ISSUE WITH .pure-g display: -ms-flexbox */
.news-post-container > .pure-g { display: inherit; }

.news-post-container ul {
	margin: 0; 
	padding: 0;
}

.news-post-item {
	margin:0; 
	padding: 0; 
	list-style: none;
}
	.news-post-item .box {
		background-color: #fff;
		margin: 0 20px 20px 0;
		padding: 0 0 15px;	
        position: relative;	
	}
    .ms-blog-postBoxMargin .news-post-item-date,
    .news-post-item .news-post-item-date {
        background-color: #ea3692;
        padding: 10px 15px;
        position: absolute;
        right: 0;
        text-align: center;
    }
    .new-post-item-by {
        margin: 5px 0 0 0;
        font-size: 1.1em;
    }
    .ms-blog-postBoxMargin .new-post-item-by {
        margin: 5px 0 0 0;
        font-size: 1.3em;
    }

    .news-post-item .news-post-item-date {
        padding: 5px;
    }
        .news-post-item-date span {
            display: block;
            color: #fff;
            font-size: 1.3em;
        }
        .news-post-item .news-post-item-date span {
            font-size: 1.1em;
        }

    .new-post-title h2,
	.news-post-item h2 {
		margin: 0 0 5px 0; 
	}
        .new-post-title h2 a:link,
        .new-post-title h2 a:visited,
        .new-post-title h2 a:hover,
        .new-post-title h2 a:active,
        .news-post-item h2 a:link,
		.news-post-item h2 a:visited,
		.news-post-item h2 a:hover,
		.news-post-item h2 a:active {
			font-size: 1.3em;
			color: #415A6C;
			text-decoration: none;
		}
	.news-post-item .news-post-item-image {
		max-height: 140px;
		overflow: hidden;
	}
		.news-post-item-image img {
			width: 100%;
		}
		.news-post-item-image img.default {
			/*margin-top: -197px;*/
		}
		.news-post-item-title {
		}
		.news-post-item-title h2 {
			margin: 0 0 5px 0; 
		}

.news-post-item-category {}
	#blgcat:link,
	#blgcat:visited,
	#blgcat:hover,
	#blgcat:active,
	.news-post-item-category .ms-link:link,
	.news-post-item-category .ms-link:visited,
	.news-post-item-category .ms-link:hover,
	.news-post-item-category .ms-link:active {}

.news-post-readmore:link,
.news-post-readmore:active,
.news-post-readmore:hover,
.news-post-readmore:visited {
    color: #e24912;
    font-size: 0.9em;
}

