body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmRhZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #d6dade 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6dade));
  background: -webkit-linear-gradient(top, #ffffff 0%,#d6dade 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#d6dade 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#d6dade 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#d6dade 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6dade',GradientType=0 );
}

body#no-bg {
  background: none;
}

.PlaceHolderPageImage {
}

.maxw-container {
  max-width: 1200px;
}

.container {
  max-width: 1200px;
  margin: auto;
  clear: both;
}

.container * {
  box-sizing: border-box;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section,summary {
  display: block;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0px !important;
  border: 0px;
}

h1, h2, h3, p {
  margin: 0px;
}

ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* ==========================================================================
RB Header
========================================================================== */

header {
  margin: 0 10px 15px 10px;
  padding: 10px 0 0;
}

header ul,
header .icons {
  float: right;
  margin: 0px 0px 0px 0px;
  max-height: 25px;
  width: auto;
}

header ul li {
  display: inline-block;
  float: left;
  transition: all 250ms;
}

header ul li.badge:hover a {
  opacity: 0.5;
  transition: all 250ms;
}

header ul li.badge.disabled:hover a {
  opacity: 1;
}

header ul li a:hover {
  text-decoration: none;
}

header .social ul {
  float: left;
  display: inline-block;
  clear: none;
  padding-left: 0px;
  margin-top: 24px;
  margin-left: 10px;
}

header .corporate ul {
  clear: both;
  float: none;
  text-align: right;
  margin-right: 5px;
  padding-left: 0px;
  margin-top: 5px;
}

header .corporate ul li {
  float: none;
  clear: both;
}

header .social img {
  float: left;
  display: block;
}

header ul li i {
  color: #E93591;
  text-align: right;
  font-size: 25px;
}

header ul li.disabled a,
header ul li.disabled a:link,
header ul li.disabled a:visited,
header ul li.disabled a:hover,
header ul li.disabled a:active,
header ul li.disabled i {
  cursor: default!important;
  color: #D5D8DE;
}

header ul li a:hover i {
  opacity: 0.9;
}

header ul li.disabled a:hover i {
  opacity: 1;
}

header img.user {
  display: block;
  float: right;
}

/* ==========================================================================
 RB Footer
 ========================================================================== */
footer {
  -webkit-box-shadow: -6px 4px 22px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow: -6px 4px 22px 0px rgba(50, 50, 50, 0.36);
  box-shadow: -6px 4px 22px 0px rgba(50, 50, 50, 0.36);
  background-color: #415A6C;
  background-color: rgba(65, 90, 108, 0.95);
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 10px 12px;
  font-size: 12px;
}

footer ul {
  margin: 0 20px 0 0;
  padding: 0;
}

footer ul li {
  color: #fff;
  display: inline-block;
  list-style: none;
  margin: 0;
  min-width: 189px;
  padding: 0;
}

footer ul li a,
			footer ul li a:link,
			footer ul li a:visited,
			footer ul li a:hover,
			footer ul li a:active {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #FFCB00;
}

footer .bottom-strap {
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff;
}

footer .bottom-strap span {
  display: block;
  margin-bottom: 5px;
}

footer .bottom-strap a,
		footer .bottom-strap a:link,
		footer .bottom-strap a:visited,
		footer .bottom-strap a:hover,
		footer .bottom-strap a:active {
  color: #fff;
  text-decoration: none;
}

/* ==========================================================================
 Main Menu 
 ========================================================================== */
.nav {
  width: 100%;
}

.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.nav span {
  text-transform: none !important;
}

.nav a {
  text-decoration: none;
}

.nav li {
  list-style: none;
  width: 20%;
  text-align: center;
}

.nav li a.pink,
.sidr li a.sidr-class-pink {
  background-color: #E93591;
}

.nav li a.blue,
.sidr li a.sidr-class-blue {
  background-color: #25B1E5;
}

.nav li a.green,
.sidr li a.sidr-class-green {
  background-color: #95D12D;
}

.nav li a.yellow,
.sidr li a.sidr-class-yellow {
  background-color: #FFCB00;
}

.nav li a.orange,
.sidr li a.sidr-class-orange {
  background-color: #FF6327;
  border-right: 0px;
}

.nav {
  display: inline-block;
  position: relative;
  cursor: default;
  z-index: 500;
}

.nav > li {
  display: block;
  float: left;
}

.nav > li > a {
  position: relative;
  display: block;
  z-index: 510;
  height: 30px;
  padding-top: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #FFF;
  border-right: 1px solid #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.nav > li:hover > a {
  opacity: 0.8;
}

.nav > li > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 31px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: #41596B;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

.nav > li:hover > div {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

.nav .nav-column {
  float: left;
  width: 20%;
  padding: 20px;
  min-height: 280px;
  border-right: 1px solid #FFF;
}

.nav .nav-column.mid {
  width: 15%;
}

.nav .nav-column.thin {
  width: 10%;
}

.nav .nav-column h3 {
  margin: 0px 0px 5px 0px;
  line-height: 18px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  float: left;
  text-align: left;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

.nav .nav-column li {
  width: 100%;
  text-align: left;
}

.nav .nav-column li a {
  display: block;
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #FFF;
}

.nav .nav-column li a:hover {
  opacity: 0.8;
}

 /* ==========================================================================
 Stacked Responsive Nav / Slim Menu Over Ride
 ========================================================================== */

.slimmenu {
  width: 100%;
  margin-bottom: 25px !important;
  display: block;
  float: left;
}

.slimmenu li a:hover {
  opacity: 0.9 !important;
}

.slimmenu li a.pink {
  background-color: #E93591;
}

.slimmenu li a.blue {
  background-color: #25B1E5;
}

.slimmenu li a.green {
  background-color: #95D12D;
}

.slimmenu li a.yellow {
  background-color: #FFCB00;
}

.slimmenu li a.orange {
  background-color: #FF6327;
  border-right: 0px;
}

.slimmenu li ul {
  padding: 14px;
  background-color: #41596B;
  width: 100%;
  float: left;
  display: block;
  clear: both;
  min-height: 285px;
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
}

.slimmenu li a span {
  text-transform: lowercase;
}

.slimmenu li ul li {
  padding: 3px 0px 3px 0px;
  font-size: 13px !important;
  background-color: #41596B !important;
  width: 100%;
  float: left;
  text-align: left;
  border-right: 0px;
  color: #FFF;
  text-transform: none;
}

.slimmenu ul.column-2 {
  width: 100%;
  left: 100%;
  position: absolute !important;
}

.slimmenu ul.column-3 {
  width: 100%;
  left: 200%;
  position: absolute !important;
}

.slimmenu ul.column-4 {
  width: 100%;
  left: 300%;
  position: absolute !important;
}

.slimmenu ul.column-5 {
  width: 100%;
  left: 400%;
  position: absolute !important;
}

 /* ==========================================================================
 Off Canvas Menus
 ========================================================================== */

.sidr {
  z-index: 1000!important;
}

.mobile-button {
  z-index: 999999!important;
}

.mobile-button:hover {
  opacity: 0.8;
}

.mobile-button.active {
  background-color: #E24912!important;
}

#no-bg #mobile-nav,
#no-bg #mobile-search {
  display: none;
}

#mobile-nav {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #415a6c;
  color: #fff;
  display: none;
  left: 0;
  padding: 6px 9px;
  position: absolute;
  top: 20px;
}

#mobile-search {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #415a6c;
  color: #fff;
  display: none;
  padding: 6px 9px;
  position: absolute;
  right: 0;
  top: 20px;
}

.sidr-inner li {
  display: block;
  position: relative;
}

.sidr-inner .sidr-class-dropdown:before {
  content: '\f149';
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  font-size: 14px;
}

.sidr-inner {
  background-color: #466076;
}

.sidr li a {
  font-size: 15px !important;
  color: #FFF !important;
}

.sidr li a span {
  display: inline-block;
  padding-left: 0px;
}

.sidr li a,
 .sidr li.active a:hover,
 .sidr li a:hover {
  box-shadow: none !important;
  border: 0px !important;
}

.sidr ul li {
  border: 0px !important;
}

/* ==========================================================================
Main Menu
========================================================================== */

section#main-menu {
  margin: 0 10px 10px;
}

/* ==========================================================================
 Layout
 ========================================================================== */

.marg-r {
  margin-right: 20px;
}

.marg-l {
  margin-left: 20px;
}

.bg-grey {
  padding: 15px;
  background-color: #CDD2DA;
  color: #41596B;
}


/* ==========================================================================
 Office365/SharePoint Override CSS
 ========================================================================== */

.js-callout-mainElement {
  z-index: 520;
}
.js-callout-closeButton {
    height: 24px;
    width: 24px;
}
#corbcom-siteusage_callout .js-callout-body {
    overflow-y: scroll;
    margin-bottom: 20px;
}
#corbcom-siteusage_callout .js-callout-content {
    width: 640px!important;
    max-width: 640px;
}

.ms-core-pageTitle {
  font-size: 2.7em;
}

.ms-core-pageTitle, 
.ms-core-pageTitle a {
  color: #415A53;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

#titleAreaBox {
  margin: auto 10px;
}

.buzz365-responsive-v1 #titleAreaBox {
  margin: auto 10px auto 0;
}

#contentRow {
  padding: 0 10px 8px;
}

#s4-titlerow {
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#ctl00_PlaceHolderPageImage_onetidtpweb1,
#ctl00_PlaceHolderPageImage_ctl00 {
  margin-left: -50px;
  margin-right: -35px;
  vertical-align: top;
}

.ms-core-sideNavBox-removeLeftMargin {
  margin-left: -10px;
  padding-right: 20px;
}

.ms-core-listMenu-root {
  margin: 0;
  padding-left: 10px;
}

.ms-core-listMenu-verticalBox > .ms-core-listMenu-item, 
.ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
  display: block;
  padding: 5px 10px;
}

.ms-core-listMenu-verticalBox .ms-listMenu-editLink {
  border: 1px solid transparent;
  margin: 15px 0 0 9px;
}

.ms-core-overlay {
  background-color: rgba(255, 255, 255, 0.45);
}

#s4-workspace {
  overflow: auto;
  position: relative;
}

#s4-bodyContainer {
  -webkit-box-shadow: -6px 4px 22px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow: -6px 4px 22px 0px rgba(50, 50, 50, 0.36);
  box-shadow: -6px 4px 22px 0px rgba(50, 50, 50, 0.36);
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0 auto;
  margin-bottom: 35px;
}

.ms-webpart-menuArrowSpan { display: none; }
.ms-webpart-menuLink {
  font: 18px/1 FontAwesome;
  height: 16px;
  margin-left: -5px;
  margin-top: 6px;
  padding: 0;
  width: 16px;
}
.ms-webpart-menuLink:after {
    content: "\f013";
}
.ms-webpart-menuLink:hover {
  text-decoration: none;
  color: #FFCB00;
}


/* ==========================================================================
 Header Search Box / SearchBoxScriptWebPart Search Box
 ========================================================================== */

.mobile-header-search-box {
  clear: both;
  margin: 5px 0 0 0;
  text-align: left;
  display: none;
  opacity: 0;
  transition: all 500ms ease;
}

.mobile-header-search-box.active {
  display: block;
  opacity: 1;
  transition: all 500ms ease;
}

.header-search-box {
  margin: 5px 2px 0 0;
  text-align: right;
}

.ms-srch-sb-border, 
.ms-srch-sb-borderFocused,
.ms-srch-sbLarge {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ms-srch-sb-border, 
.ms-srch-sb-borderFocused {
  margin-left: 10px;
  padding: 3px 8px;
  margin-top: 5px;
}

.ms-srch-sbLarge.ms-srch-sb-border,
.ms-srch-sbLarge.ms-srch-sb-borderFocused {
  margin-left: -1px;
}

.ms-srch-sbLarge-navWidth {
  width: 390px;
}

.mobile-header-search-box .ms-srch-sb-border, 
.mobile-header-search-box .ms-srch-sb-borderFocused {
  margin-left: 0;
}

.ms-srch-sb > input {
  background-color: transparent;
  border-style: none;
  display: inline-block;
  font-size: 1.4em;
  height: auto;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 1px 0 0;
  right: 0;
  width: 180px;
  color: #415A6C;
}

.mobile-header-search-box .ms-srch-sb > input {
  width: 180px;
}

.ms-srch-sb-searchImg, 
.ms-srch-sb-searchImg:hover {
  left: -7px;
  top: -40px;
}

.ms-srch-sb > .ms-srch-sb-searchLink {
  margin-left: 5px;
  height: 22px;
  width: 23px;
}

.ms-ref-refinername:link, 
.ms-ref-refinername:visited {
  width: 140px;
}
.ms-srch-item h3,
.ms-srch-item h3 a,
.ms-srch-item h3 a.ms-srch-item-link,
.ms-srch-item h3 a.ms-srch-item-link:visited {
  color: #e93591;
}
.ms-qSuggest-container,
.ms-qSuggest-list {
  text-align: left;
}


/* ==========================================================================
 Full-screen mode button
 ========================================================================== */
#exitfullscreenmode > a > span,
#fullscreenmode > a > span { width: 24px!important; height: 24px!important; }
#exitfullscreenmode > a > span .s4-clust,
#fullscreenmode > a > span .s4-clust { width: 24px!important; height: 24px!important; }


/* ==========================================================================
 Media Queries
 ========================================================================== */

@media screen and (min-width: 980px) {


  ul.slimmenu li > ul > li ul {
    display: block;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
  }
}

@media screen and (max-width: 980px) {

  .ms-srch-sb > input {
    font-size: 1.25em;
    width: 165px;
  }

  .mobile-header-search-box .ms-srch-sb > input {
    font-size: 1.3em;
    width: 170px;
  }
}

@media screen and (max-width: 480px) {

  /* hide search hover panel */
  .ms-srch-hover-outerContainer {
    display: none !important;
  }

  #corbcom-siteusage_callout .js-callout-content {
      width: 370px!important;
  }

  .ms-srch-sbLarge-navWidth {
    width: 212px;
  }

  .ms-srch-upscope-bottom,
	.ms-srch-upscope-top {
    width: 90%!important;
  }

  .ms-srch-upscope-bottom > div,
	.ms-srch-upscope-top > div {
    display: block!important;
  }

  .ms-srch-item {
    width: 90%;
  }
  .ms-srch-item-path {
    width: 100%;
  }
  .ms-srch-ellipsis {
    white-space: normal;
    overflow: visible;
  }

  .ms-core-pageTitle {
    font-size: 2.1em;
  }

  header .social ul {
    margin-top: 5px;
    margin-left: 0;
    float: none;
    clear: both;
    display: block;
  }

  #s4-titlerow {
    margin-top: 10px;
  }

  #o365 ul li {
    display: none;
  }

  ul.slimmenu li {
    border-right: 0px;
  }

  ul.slimmenu.collapsed li .sub-collapser {
    height: 30px;
  }

  .slimmenu li ul {
    min-height: 0px !important;
    border-right: 0px;
    border-top: 1px solid #FFF;
  }

  #main-menu {
    display: none;
  }

  #mobile-nav,
     #mobile-search {
    display: block;
  }

  header {
    padding: 15px 15px 0px 15px;
  }

  header .logo {
    max-width: 250px;
    margin: 0px auto 0px auto;
  }

  .nav a {
    border-right: 0px;
  }

  .marg-r {
    margin-right: 0px;
  }

  .marg-l {
    margin-left: 0px;
  }
}

@media screen and  (max-width: 767px) {

  #corbcom-siteusage_callout .js-callout-content {
      width: 370px!important;
  }

	/* hide desktop search box */
  .header-search-box {
    display: none;
  }
	/* pad the corporate buttons leftward to make way for the mobile search button */
  header .corporate ul {
    margin-right: 35px;
    margin-top: 5px;
  }

	/* hide search refiners */
  .ms-ref-refiner,
	#Refinement {
    display: none;
  }

  ul.slimmenu li {
    border-right: 0px;
  }

  ul.slimmenu.collapsed li .sub-collapser {
    height: 30px;
  }

  .slimmenu li ul {
    min-height: 0px !important;
    border-right: 0px;
    border-top: 1px solid #FFF;
  }

  ul.slimmenu li > ul > li ul {
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
  }

  .slimmenu ul.column-1,
	.slimmenu ul.column-2,
	.slimmenu ul.column-3,
	.slimmenu ul.column-4,
	.slimmenu ul.column-5 {
    width: 100%;
    clear: both;
    display: block;
    position: relative !important;
    left: 0px !important;
  }

  #main-menu {
    display: none;
  }

  #mobile-nav,
     #mobile-search {
    display: block;
  }

  header {
    padding: 0 15px 0 35px;
    margin: 0 10px;
  }

  header .logo {
    max-width: 250px;
    margin: 0px auto 0px auto;
  }

  .nav a {
    border-right: 0px;
  }

  .marg-r {
    margin-right: 0px;
  }

  .marg-l {
    margin-left: 0px;
  }
}

@media screen and  (max-width: 360px) {

  .ms-srch-item {
    width: 320px;
  }
  .ms-srch-item-path {
    width: 300px;
    word-break: break-all;
  }

  #corbcom-siteusage_callout .js-callout-content {
      width: 270px!important;
  }

  .mobile-header-search-box {
    margin-left: -35px;
  }

  .mobile-header-search-box .ms-srch-sb > input {
    font-size: 1em;
    margin-top: 3px;
    width: 130px;
  }

	/* align the corporate buttons leftward to make way for the mobile search button */
  header .corporate ul {
    margin-right: 0;
    margin-top: 5px;
    text-align: left;
  }

  header .corporate ul li {
    margin-right: 5px;
  }

}

@media screen and  (max-width: 320px) {

}

@media screen and (min-width: 768px) and (max-width: 979px) {
}


/* ==========================================================================
 365 Changes
 ========================================================================== */
.o365spo.o365cst.o365cs-base .o365cs-spo-topbar,
.o365spo.o365cst.o365cs-base .o365cs-topnavBGColor,
.o365cs-base.o365cst .o365cs-topnavBGColor {
  background-color: #e93591!important;
}



/* ==========================================================================
 Fixes
 ========================================================================== */
/* Custom Styles Fixing Responsive Images in Ribbon */
*, 
*:before, 
*:after {
  -webkit-box-sizing: content-box;
 /*border-box causes many issues with SP*/
  -moz-box-sizing: content-box;
 /*border-box causes many issues with SP*/
  box-sizing: content-box;
 /*border-box causes many issues with SP*/;
}

* [class^="span"], 
* [class^="span"]:before, 
* [class^="span"]:after {
  -webkit-box-sizing: border-box;
 /*re-enable border-box for framework spans*/
  -moz-box-sizing: border-box;
 /*re-enable border-box for framework spans*/
  box-sizing: border-box;
 /*re-enable border-box for framework spans*/;
}

img {
  max-width: none;
  width: auto;
}

* [class^="span"] img {
  max-width: 100%;
 /*for images inside span grid*/;
}

img.ms-webpart-menuArrowImg, 
#applist img {

	/* within a span may still need to have width of image not 100% for SP2013 OOTB features/imges */
  width: auto;
  max-width: none;
}

.ms-siteactions-imgspan {
  float: none;
  margin: 0px;
}

/* Custom Styles to Fix Ribbon Layout Issues */
#s4-ribbonrow [class*="span"] {
  float: none;
  margin-left: 0px;
  line-height: 1.2em;
}

input.ms-cui-cb-input {
  height: 14px;
  padding: 3px 7px 2px;
}
/* Top Bar, Edit Bar, Add Item Fix */
.ms-cui-topBar2 img, 
.ms-cui-tabContainer img, 
.ms-addnew img {
  max-width: none;
}

