@font-face {
    font-family: 'kite_display_bold';
    src: url('../fonts/kitedisplay-webfont.eot');
    src: url('../fonts/kitedisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kitedisplay-webfont.woff') format('woff'),
         url('../fonts/kitedisplay-webfont.ttf') format('truetype'),
         url('../fonts/kitedisplay-webfont.svg#kite_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kite_display_light';
    src: url('../fonts/kitedisplaylight-webfont.eot');
    src: url('../fonts/kitedisplaylight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kitedisplaylight-webfont.woff') format('woff'),
         url('../fonts/kitedisplaylight-webfont.ttf') format('truetype'),
         url('../fonts/kitedisplaylight-webfont.svg#kite_display_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

